<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="Homepage for the ANGLES project">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
        <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
            <div class="row-fluid">
                <div id="banner" class="span12">
                    <div id="logo" class="container">
                        <a href="/index.html"><img src="img/angles_logo_red-wht.png" /></a>
                    </div><!-- /.logo -->
                </div><!-- /.banner -->
            </div><!-- /.row-fluid -->
            <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                            <ul class="nav">
                                <!-- <li><a href="about.html">About</a></li> -->
                                <li><a href="https://github.com/umd-mith/angles" target="_blank">Code</a></li>
                                <!-- <li><a href="contribute.html">Contribute</a></li> -->
                            </ul>
                    </div><!-- /.container -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
             </div>
             {{ content }}

            <footer>
                <div class="row-fluid">
                    <div id="footer-content" class="container">
                    <div class="span8">
                        <p>Work on the ANGLES Project is made possible in part by a Level II Digital Humanities Start-up Grant from the <a href="http://www.neh.gov" target="_blank">National Endowment for the Humanities</a> (Award # HD-51573). Any views, findings, conclusions, or recommendations expressed in this Web resource and its associated software, do not necessarily represent those of the National Endowment for the Humanities. </p>
                    </div>
                    <div id="sponsors">
                        <ul class="thumbnails span12">
                            <li class="span4">
                                <a href="http://www.neh.gov" class="thumbnail">
                                    <img src="img/neh_logo_horizontal_4cprev_u.png"></img>
                                </a>
                            </li>
                            <li class="span4">
                                <a id="mith-logo" href="http://mith.umd.edu/" class="thumbnail">
                                    <img src="img/MITH-extlogotxt-wht.png"></img>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.sponsors -->
                </div>
                </div><!-- /.row-fluid -->
            </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="js/vendor/jquery.isotope.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
